@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --asia: "Yuji Boku", serif;
  --standard: "Noto Sans", sans-serif;
  --ombreText: 0px 0px 8px #000;
  --ombreElement: 0px 0px 10px #000;
  --textShadowblur: 0 0 15px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5);
  --background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(0, 0, 0));
  --backgroundInverse: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255)
  );
}
/*****************************S1*****************************************************************/
#S1 {
  top: 0;
  height: auto;
  width: 100%;
  box-shadow: var(--ombreElement);
}
#primaryContainer {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#primaryContainer > h1 {
  position: absolute;
  color: #fff;
  font-family: var(--asia);
  font-weight: 500;
  font-size: 6rem;
  text-shadow: var(--ombreText);
}

#primaryContainer > img {
  position: absolute;
  height: 50vh;
  width: 50vw;
}
#primaryContainer > video {
  height: auto;
  width: 100%;
}
/*****************************S1FIN*****************************************************************/
/*****************************S2*****************************************************************/
#S2 {
  height: auto;
  width: 100%;
  overflow: hidden;
  box-shadow: var(--ombreElement);
}
#secondaryContainer {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  background: url("images/mountainOne.png") no-repeat 100% 50%;
  background-size: contain;
}
article {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
}
figure {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-evenly;
}
.textOne {
  padding: 10px;
  height: 123vh;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Red Hat Display", sans-serif;
  font-size: 2.7rem;
  text-shadow: var(--textShadowblur);
  font-weight: 500;
  letter-spacing: 5px;
  overflow: hidden;
  background: #000 url("images/asiaFace.jpg") no-repeat 50% 50%;
  background-size: auto;
}
picture {
  height: auto;
  width: 100%;
}
figure > #Pict1 > img {
  height: 30vh;
  width: 20vw;
  mix-blend-mode: overlay;
}
figure > #Pict2 > img {
  height: 70vh;
  width: 30vw;
  mix-blend-mode: overlay;
}
/*Galerie image*/
#imgContainer {
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  height: 66vh;
  width: 100%;
  background: url("images/carp.png") no-repeat;
  padding: 0;
  /* overflow: hidden; */
}
.textTwo {
  padding-bottom: 5px;
  height: 5.5vh;
  width: auto;
  color: rgba(255, 255, 255, 0.3);
  background: #1a1a1ab0;
  font-family: "Red Hat Display", sans-serif;
  font-size: 3rem;
  text-shadow: var(--textShadowblur);
  font-weight: 500;
  letter-spacing: 3.5px;
  overflow: hidden;
}
#imgContainer > img {
  margin: 0;
  height: 25vh;
  width: 25vw;
}
#imgSubContainer {
  margin-top: 26.4vh;
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  height: 40vh;
  width: 100%;
  background: var(--background);
  /* overflow: hidden; */
}
#imgSubContainer > img {
  height: 15vh;
  width: 15vw;
}
#imgSubContainer > img:hover {
  filter: contrast(140%);
  box-shadow: var(--ombreElement);
}
/***************************************Modal image *************************************************************/
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* le Modal background */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Contenue (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-family: var(--asia);
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
/***************************************Modal image fin*************************************************************/
/*Galerie image fin*/
/*Section 3*/

.wrapper,
.article__S3,
.article__fig {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: var(--standard);
  margin: auto;
}

.article__S3 {
  margin-top: 10px;
  padding: 10px;
  height: auto;
  width: 50vw;
  flex-flow: row nowrap;
  background: url("images/asiaFace3.jpg") no-repeat 50% 50%;
  background-size: cover;
  text-shadow: var(--textShadowblur);
  color: rgba(255, 255, 255, 0.5);
}
.article__titre--container {
  padding: 0;
  height: auto;
  width: 100%;
  text-align: center;
}
.article__titre--container > h4 {
  margin-top: 0;
  font-size: 1.8rem;
  letter-spacing: 5px;
}
.article__titre--container > h4 > span {
  font-size: 5rem;
}
.article__titre--container > h5 {
  margin-top: 0;
  letter-spacing: 1px;
}
.article__txt {
  height: auto;
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
}
.article__txt > p {
  line-height: 25px;
}
.article__txt > p > strong {
  text-decoration: underline;
}
.article__txt > p > cite {
  font-weight: 800;
}
.article__fig {
  height: auto;
  width: 100%;
  flex-flow: column nowrap;
}
.article__fig > img {
  height: 25vh;
  width: auto;
  border-radius: 5%;
}
.article__fig > figcaption {
  filter: drop-shadow(0px 0px 3px #000);
  text-align: center;
}

/*Section 3 fin*/
/*footer*/
footer {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
  height: auto;
  width: 100%;
  bottom: 0;
  background-color: #000;
}
footer > h3 {
  font-family: var(--asia);
  color: #fff;
}
footer > h4 {
  font-family: var(--standard);
  color: #fff;
}
/*footer fin*/
/*****************************S2FIN*****************************************************************/
/******↓↓↓RESPONSIVE SMARTPHONE↓↓↓******/
@media only screen and (max-width: 767px) {
  /*****************************S1*****************************************************************/
  #S1 {
    height: auto;
    width: 100%;
  }
  #primaryContainer {
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: var(--ombreElement);
  }
  #primaryContainer > h1 {
    position: absolute;
    color: #fff;
    font-family: var(--standard);
    font-weight: 400;
    font-size: 1.8rem;
    mix-blend-mode: difference;
    text-shadow: var(--ombreText);
  }

  #primaryContainer > img {
    position: absolute;
    max-height: 18vh;
    max-width: 80vw;
  }
  #primaryContainer > video {
    height: auto;
    width: 100%;
  }
  /*****************************S1FIN*****************************************************************/
  /*****************************S2*****************************************************************/
  #S2 {
    height: auto;
    width: 100%;
  }
  /*****************************S2FIN*****************************************************************/
}
/******↑↑↑RESPONSIVE SMARTPHONE FIN↑↑↑******/
/************************************************/
/************************************************/
/************************************************/
/******************RESPONSIVE**TABLETTE**********/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

/******↑↑↑RESPONSIVE TABLETTE FIN↑↑↑******/
/************************************************/
/************************************************/
/************************************************/
/******↓↓↓RESPONSIVE LAPTOP↓↓↓******/
@media only screen and (min-width: 1025px) {
}
/******↑↑↑RESPONSIVE LAPTOP FIN↑↑↑******/
