@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --asia: "Yuji Boku", serif;
  --standard: "Noto Sans", sans-serif;
  --ombreText: 0px 0px 8px #000;
  --ombreElement: 0px 0px 10px #000;
  --textShadowblur: 0 0 15px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5);
}
/*****************************S1*****************************************************************/
#S1 {
  height: auto;
  width: 100%;
  box-shadow: var(--ombreElement);
}
#primaryContainer {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#primaryContainer > h1 {
  position: absolute;
  color: #fff;
  font-family: var(--asia);
  font-weight: 500;
  font-size: 6rem;
  text-shadow: var(--ombreText);
}

#primaryContainer > img {
  position: absolute;
  height: 50vh;
  width: 50vw;
}
#primaryContainer > video {
  height: auto;
  width: 100%;
}
/*****************************S1FIN*****************************************************************/
/*****************************S2*****************************************************************/
#S2 {
  height: auto;
  width: 100%;
  overflow: hidden;
  box-shadow: var(--ombreElement);
}
#secondaryContainer {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  background: url("images/mountainOne.png") no-repeat 50% 20%;
  background-size: 100%;
  overflow: hidden;
}
article {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
}
figure {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-evenly;
}
figure > p {
  padding: 10px;
  height: auto;
  width: 60vw;
  color: rgba(255, 255, 255, 0.3);
  background: #1a1a1ab0;
  font-family: "Red Hat Display", sans-serif;
  font-size: 3rem;
  text-shadow: var(--textShadowblur);
  font-weight: 500;
  letter-spacing: 5px;
}
picture {
  height: auto;
  width: 100%;
}
figure > picture > img {
  margin-left: 25vw;
  height: 100vh;
  width: 30vw;
}
/*Galerie image*/
#imgContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: 50vh;
  width: 100%;
  overflow: hidden;
  background-color: #1a1a1ab0;
}
#imgContainer > img {
  height: 25vh;
  width: 25vw;
}
/*Galerie image fin*/
/*****************************S2FIN*****************************************************************/
/******↓↓↓RESPONSIVE SMARTPHONE↓↓↓******/
@media only screen and (max-width: 767px) {
  /*****************************S1*****************************************************************/
  #S1 {
    height: auto;
    width: 100%;
  }
  #primaryContainer {
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: var(--ombreElement);
  }
  #primaryContainer > h1 {
    position: absolute;
    color: #fff;
    font-family: var(--standard);
    font-weight: 400;
    font-size: 1.8rem;
    mix-blend-mode: difference;
    text-shadow: var(--ombreText);
  }

  #primaryContainer > img {
    position: absolute;
    max-height: 18vh;
    max-width: 80vw;
  }
  #primaryContainer > video {
    height: auto;
    width: 100%;
  }
  /*****************************S1FIN*****************************************************************/
  /*****************************S2*****************************************************************/
  #S2 {
    height: auto;
    width: 100%;
  }
  /*****************************S2FIN*****************************************************************/
}
/******↑↑↑RESPONSIVE SMARTPHONE FIN↑↑↑******/
/************************************************/
/************************************************/
/************************************************/
/******************RESPONSIVE**TABLETTE**********/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

/******↑↑↑RESPONSIVE TABLETTE FIN↑↑↑******/
/************************************************/
/************************************************/
/************************************************/
/******↓↓↓RESPONSIVE LAPTOP↓↓↓******/
@media only screen and (min-width: 1025px) {
}
/******↑↑↑RESPONSIVE LAPTOP FIN↑↑↑******/
